# UI
UI_BASE_URL=https://community.automationanywhere.com
UI_USERNAME=your.email@example.com
UI_PASSWORD=yourpassword
HEADLESS=true

# API
API_BASE_URL=https://api.community.automationanywhere.com
API_TOKEN=your_api_token_here
